@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   input,
   button,
   input:focus,
   button:focus {
      @apply outline-none;
   }
}

@layer utilities {
   .on-break {
      word-break: break-word;
   }
   .viewport-h {
      height: calc(100vh - 107px);
   }
   .loading {
      border: 1px solid white;
      border-top-color: #3b82f6;
   }
   .shdwn {
      box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
         0 1px 18px 0 rgb(0 0 0 / 12%);
   }
}
