@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   input,
   button,
   input:focus,
   button:focus {
      @apply outline-none;
   }
}

@layer utilities {
   .on-break {
      word-break: break-word;
   }
   .viewport-h {
      height: calc(100vh - 90px);
   }
}
